
version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: postgres_dapper_demo
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: datesaver
    ports:
      - "15432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  demo:
    image: daywriter:latest
    restart: always
    ports:
      - "8080:80"
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - postgres
volumes:
  pgdata:
